*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", "Helvetica", sans-serif;
  color: #eee;
  background: radial-gradient(circle at 50% 0%, #00aeff55 15%, #00000055);
  background-color: #181818;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 0.8s;
}


/* TITLES SECTIONS */
body .title {
  margin: 100px auto 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  color: #fff;
  text-shadow: 0px 0px 8px #22EFFC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  border-width: 2px;
  border-style: solid;
  border-top: #22EFFC;
  border-image:
    linear-gradient(to right,
      transparent,
      #22EFFC,
      transparent) 1 0%;
}

body .title img {
  width: 40px;
  border: 1px solid #22EFFC;
  border-radius: 3px;
  padding: 10px;
}



body .teaser {
  width: 100%;
  max-width: 800px;
  margin: 0px auto 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}



.progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #333;
  z-index: 9999;
}

.progressBar {
  height: 100%;
  background-color: #22EFFC;
  transition: width 0.3s ease;
}