.contactSection {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactSection span {
    color: #22EFFC;
    font-size: 20px;
    font-weight: 600;
}

#contactForm {
    width: 100%;
}


/* FORM */
/* SECTION PERSONAL INFORMATION */
.personalInfoContainer {
    background: linear-gradient(to top right, #22EFFC22, #22EFFC00 75%);
}

.contactReasonsContainer,
.submitContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactReasonsContainer {
    background: linear-gradient(to bottom left, #22EFFC22, #22EFFC00, #22EFFC22);
}

.submitContainer {
    background: linear-gradient(to bottom right, #22EFFC22, #22EFFC00 40%);
}

.socialContainer {
    background: linear-gradient(to top left, #22EFFC22, #22EFFC00 66%, #22EFFC22);
}

.personalInfoContainer,
.contactReasonsContainer,
.submitContainer,
.socialContainer {
    border: 1px solid #22EFFC33;
    border-radius: 5px;
    width: 100%;
    max-width: 555px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 3px 12px #00000033;
}

.personalInfoContainer h3,
.contactReasonsContainer h3,
.submitContainer h3,
.socialContainer h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.socialContainer h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #22EFFC;
    margin: 10px auto 50px;
}







.personalInfoDiv input,
.messageDiv input {
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff22;
    border: 1px solid #22EFFC33;
    border-radius: 3px;
    box-shadow: 0px 3px 8px #00000033;
    color: white;
}

.personalInfoDiv .labelDisplay,
.messageDiv .labelDisplay {
    position: absolute;
    pointer-events: none;
    transition: transform 0.3s ease-out, 0.3s ease-out;
    transform-origin: 0 0;
    color: #aaa;
    padding-top: 29px;
    padding-left: 10px;
    font-size: 15px;
}

.labelDisplay.filledInput {
    transform: translate(5px, -25px) scale(0.8);
    color: skyblue;
}




.contactReasonsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.contactReasonsDiv input[type="checkbox"] {
    margin: 10px;
    width: 20px;
    height: 20px;
    accent-color: #22EFFC;
    cursor: pointer;
}

.contactReasonsDiv label {
    display: flex;
    align-items: center;
    font-size: 14px;
}




.messageDiv textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #ffffff22;
    border: 1px solid #22EFFC33;
    border-radius: 3px;
    box-shadow: 0px 3px 8px #00000033;
    padding: 10px;
    color: white;
}


.recaptchaContainer {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recaptchaDiv input[type="checkbox"] {
    margin: 10px;
    width: 20px;
    height: 20px;
    accent-color: #22EFFC;
}

.recaptchaDiv label {
    background-color: #ffffff22;
    border: 1px solid #22EFFC33;
    border-radius: 3px;
    box-shadow: 0px 3px 8px #00000033;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.recaptchaDiv img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}



/* SUBMIT BUTTON */
.submitButton {
    font-family: "Allerta Stencil";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #22EFFC;
    text-transform: uppercase;
    background-color: #00000055;
    width: 100px;
    padding: 6px 60px;
    margin: 20px auto;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.submitButton:hover {
    filter: hue-rotate(90deg);
    box-shadow: 4px 8px 12px #22EFFC;
}

.submitButton img {
    width: 20px;
    height: 20px;
}

/* END FORM */








.socialMediaDiv {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.socialMediaDiv div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.socialMediaDiv a .socialIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.socialMediaDiv a .socialIcon:hover {
    filter: hue-rotate(90deg);
    box-shadow: 4px 8px 12px #22EFFC;
}

.socialMediaDiv .QRCode img {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}







/* MODAL ERROR MESSAGE AND SUCCES SUBMIT */
.modal_container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal_container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333bb;
}

.modal {
    position: absolute;
    width: 95%;
    max-width: 450px;
    min-width: 300px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ff0055;
    border-radius: 5px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close_modal {
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff0055;
    color: white;
}

.modal h4 {
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.modal p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


.processing {
    cursor: wait;
    opacity: 0.3;
}

.processing:hover {
    filter: none;
    box-shadow: none;
}

.processingCursor {
    cursor: wait;
}