/* BODY */
body.lightMode {
  color: #333;
  background: radial-gradient(circle at 50% 0%, #ffffff55 15%, #00000055);
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-color 0.8s;
}

body.lightMode .title {
  border-image:
    linear-gradient(to right,
      transparent,
      #0471D7,
      transparent) 1 0%;
  color: #0471D7;
  text-shadow: none;
}

body.lightMode .title img {
  filter: hue-rotate(64deg) saturate(2000%) brightness(90%);
}

/* ANIM */
body.lightMode .animationContainer::before {
  background: radial-gradient(#b9d8f5, #b9d8f588 33%, transparent 66%);
}

/* PROGRESS BAR */
body.lightMode .progressBarContainer {
  background-color: #888;
}

body.lightMode .progressBar {
  background-color: #0471D7;
}

/* NAV */
body.lightMode header {
  background: linear-gradient(to bottom, #c3c3c3 25%, #c3c3c3cc 50%, #c3c3c399 75%, #c3c3c300);
}

body.lightMode header img {
  filter: hue-rotate(64deg) saturate(2000%) brightness(90%);
}

body.lightMode .line {
  background-color: #0471D7;
}

body.lightMode nav {
  /* background-color: #c3c3c3; */
  background: linear-gradient(to bottom, #c3c3c3f8 80%, #c3c3c333);
  border-right: 1px solid #0471D7;
}

body.lightMode nav a {
  color: #333;
}

body.lightMode nav a:hover {
  color: #fff;
  background-color: #0471D7;
}


/* MAIN */
body.lightMode .mainTitle {
  color: #333;
  text-shadow: none;
}

body.lightMode .mainSubtitle {
  background: linear-gradient(to right, #0471D7 20%, #072695 50%, #6709C4 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.lightMode .mainTeaser {
  color: #333;
  text-shadow: -8px 10px 8px #0471D755, 0 -2px 1px #cee0f1, 0 2px 1px black;
  letter-spacing: 10px;
}

body.lightMode .socialIcons a {
  background-color: #0471D7;
  border-radius: 5px;
}

body.lightMode .socialIcons img {
  filter: grayscale(100%) brightness(600%);
  border: 1px solid transparent;
}

body.lightMode .mainButtons a {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #0471D7;
}

body.lightMode .mainButtons a p {
  color: #fff;
}

body.lightMode .mainButtons a img {
  filter: grayscale(100%) brightness(600%);
}


/* SKILLS */
body.lightMode .cardSkills {
  border-top: #0471D7;
  border-image:
    linear-gradient(to right,
      transparent,
      #0471D7,
      transparent) 1 0%;
}

body.lightMode .cardSkills::before {
  background: radial-gradient(ellipse at top, #0471D730, transparent 66%),
    radial-gradient(ellipse at bottom, transparent, transparent 66%);
}

body.lightMode .cardSkills h3 {
  color: #333;
}


body.lightMode .cardSkills .iconSkills {
  background-color: #0471D7;
  border: 1px solid transparent;
}

body.lightMode .cardSkills .iconSkills img {
  filter: grayscale(100%) brightness(600%);
}

body.lightMode .cardSkills li:hover {
  background-color: #ffffff33;
  border: 1px solid #0471D755;
  color: #0471D7;
}




/* SERVICES */
body.lightMode .cardServices {
  background: linear-gradient(to top right, #00000022, #00000000 75%);
  border: 1px solid #ffffff33;
  box-shadow: 0px 5px 15px 2px #00000022;
}

body.lightMode.cardServices:nth-of-type(2) {
  background: linear-gradient(to bottom left, #00000022, #22EFFC00, #00000022);
}

body.lightMode.cardServices:nth-of-type(3) {
  background: linear-gradient(to bottom right, #00000022, #22EFFC00 40%);
}

body.lightMode.cardServices:nth-of-type(4) {
  background: linear-gradient(to top left, #00000022, #22EFFC00 66%, #00000022);
}

body.lightMode .cardServices::before {
  background-color: #ffffff55;
}

body.lightMode .iconServiceContainer {
  border: 1px solid transparent;
  background-color: #0471D7;
}

body.lightMode .iconServiceContainer img {
  filter: grayscale(100%) brightness(600%);
  border: 1px solid transparent;
}

body.lightMode .cardServices h3 {
  color: #0471D7;
}

body.lightMode .cardServices span {
  color: #fff;
  border: 1px solid transparent;
  background-color: #0471D7;
}


/* PROJECTS */
body.lightMode .cardProjects {
  background-color: #ffffff11;
  border: 1px solid #ffffff33;
}

body.lightMode .cardProjects:hover {
  background-color: #ffffff33;
}

body.lightMode .projectIconContainer {
  border: 1px solid transparent;
  background-color: #0471D7;
}

body.lightMode .projectIconContainer img {
  filter: grayscale(100%) brightness(600%);
  border: 1px solid transparent;
}

body.lightMode .projectTitleContainer h3 {
  color: #0471D7;
}

body.lightMode .tools div span,
body.lightMode .description div span,
body.lightMode .challenges div span {
  color: #fff;
  border: 1px solid transparent;
  background-color: #0471D7;
}


/* CONTACT */
body.lightMode .contactSection span {
  color: #0471D7;
}

body.lightMode .personalInfoContainer {
  background: linear-gradient(to top right, #ffffff22, #ffffff00 75%);
}

body.lightMode .contactReasonsContainer {
  background: linear-gradient(to bottom left, #ffffff22, #ffffff00, #ffffff22);
}

body.lightMode .submitContainer {
  background: linear-gradient(to bottom right, #ffffff22, #ffffff00 40%);
}

body.lightMode .socialContainer {
  background: linear-gradient(to top left, #ffffff22, #ffffff00 66%, #ffffff22);
}

body.lightMode .personalInfoContainer,
body.lightMode .contactReasonsContainer,
body.lightMode .submitContainer,
body.lightMode .socialContainer {
  border: 1px solid #ffffff33;
  box-shadow: 0px 3px 12px #00000033;
}

body.lightMode .socialContainer h4 {
  color: #0471D7;
}

body.lightMode .personalInfoDiv input,
body.lightMode .messageDiv input,
body.lightMode .messageDiv textarea,
body.lightMode .recaptchaDiv label {
  background-color: #ffffff33;
  border: 1px solid #ffffff55;
  box-shadow: 0px 3px 8px #00000022;
  color: #333;
}

body.lightMode .personalInfoDiv .labelDisplay,
body.lightMode .messageDiv .labelDisplay {
  color: #555;
}

body.lightMode .labelDisplay.filledInput {
  color: #0471D7;
}

body.lightMode .contactReasonsDiv input[type="checkbox"],
body.lightMode .recaptchaDiv input[type="checkbox"] {
  accent-color: #0471D7;
}

body.lightMode .submitButton {
  color: #fff;
  background-color: #0471D7;
  border: 1px solid #ffffff55;
  border-radius: 20px;
}

body.lightMode .submitButton:hover {
  filter: hue-rotate(-90deg);
}

body.lightMode .submitButton img {
  filter: grayscale(100%) brightness(600%);
}


body.lightMode .socialMediaDiv a {
  border: 1px solid transparent;
  background-color: #0471D7;
}

body.lightMode .socialMediaDiv a .socialIcon {
  filter: grayscale(100%) brightness(600%);
  border: 1px solid transparent;
}


/* FOOTER */
body.lightMode .footerTop {
  background: radial-gradient(ellipse at 50% 140%, #0471D733, #0471D700 70%);
  border-top: #0471D700;
  border-image:
    linear-gradient(to right,
      transparent,
      #0471D7,
      transparent) 1 0%;
}

body.lightMode .footerMiddle {
  border-width: 2px;
  border-top: #0471D700;
  border-image:
    linear-gradient(to right,
      transparent,
      #0471D7,
      transparent) 1 0%;
}

body.lightMode .footerMiddle button {
  color: #fff;
  background-color: #0471D7;
  border: 1px solid transparent;
  border-radius: 20px;
}

body.lightMode .footerBottom {
  background: radial-gradient(ellipse at 50% -40%, #0471D733, #0471D700 50% 100%);
}

body.lightMode .footerSeparator {
  background: linear-gradient(to top, #0471D700, #0471D7, #0471D700);
}

body.lightMode .footerLinks h3,
body.lightMode .footerSocialMedia h3 {
  color: #0471D7;
}

body.lightMode .footerLinks li a,
body.lightMode .footerSocialMedia li a {
  color: #333;
}

body.lightMode .footerLinks li a:hover,
body.lightMode .footerSocialMedia li a:hover {
  color: #0471D7;
}

body.lightMode .footerSocialMedia img {
  filter: hue-rotate(64deg) saturate(2000%) brightness(90%);
}

body.lightMode .logoAndDate img {
  filter: hue-rotate(64deg) saturate(2000%) brightness(90%);
}

body.lightMode .logoAndDate p {
  color: #0471D7;
}


body.lightMode .scrollToTopBtn {
  border: 1px solid #0471D7;
}

body.lightMode .scrollToTopBtn img {
  filter: hue-rotate(64deg) saturate(2000%) brightness(90%);
}


@media screen and (max-width: 900px) {

  body.lightMode .footerSeparator {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #0471D700, #0471D7, #0471D700);
  }
}