.mainSection {
    width: 500px;
    margin: 200px 10% 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    text-align: right;
    gap: 20px;
}

.mainTitle,
.mainSubtitle {
    font-weight: 800;
    text-transform: uppercase;
}

.mainTitle {
    font-size: 48px;
    text-shadow: 0px 0px 8px #22EFFC;
}

.mainSubtitle {
    font-size: 36px;
    background: linear-gradient(to right, #22FCBB, #22EFFC 20%, #2293FC, #2252FC 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainTeaser {
    text-transform: uppercase;
    font-size: 30px;
    color: #22EFFC;
    text-shadow: -8px 10px 8px #09dbca91, 0 -2px 1px #ffffff, 0 2px 1px black;
    letter-spacing: 10px;

}




.socialIcons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.icon {
    /* width: 40px;
    height: 40px; */
    font-size: 40px;
    border: 1px solid #22EFFC;
    border-radius: 4px;
    padding: 10px;
    background-size: cover;
    color: #22EFFC;
}
