.mainSection {
    width: 100%;
    max-width: 1300px;
    margin: 150px auto 0;
    padding: 20px;
}

.mainContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mainTitle,
.mainSubtitle {
    text-align: right;
    text-transform: uppercase;
}

.mainTitle {
    font-family: 'poppins';
    font-weight: 900;
    transform: skew(0deg, -5deg);
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 60px;
    color: #fde9ff;
    text-shadow: 3px 1px 1px #22EFFC, 2px 2px 1px #044e48, 4px 2px 1px #22EFFC,
        3px 3px 1px #044e48, 5px 3px 1px #22EFFC, 4px 4px 1px #044e48,
        6px 4px 1px #22EFFC, 5px 5px 1px #044e48, 7px 5px 1px #22EFFC,
        6px 6px 1px #044e48, 8px 6px 1px #22EFFC, 15px 15px 10px black;
    letter-spacing: 6px;
    transition: 0.3s;
    cursor: pointer;
}

.mainTitle span {
    display: block;
    position: relative;
}

.mainTitle span::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
    z-index: 1;
}

.mainTitle:hover {
    transform: rotate(-1deg);
}

.mainSubtitle {
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(to right, #47f7c2, #3ff1fd 20%, #369bfa, #8759f5 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainTeaser {
    font-size: 30px;
    text-shadow: 0px 0px 8px #22EFFC;
}

@media screen and (max-width: 800px) {
    .mainContainer {
        width: 100%;
    }

    .mainTitle {
        font-size: 34px;
        text-align: center;
    }

    .mainSubtitle {
        font-size: 28px;
        text-align: center;
    }

    .mainTeaser {
        font-size: 25px;
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .mainTitle {
        font-size: 24px;
    }

    .mainSubtitle {
        font-size: 18px;
    }

    .mainTeaser {
        font-size: 15px;
    }

    .mainButtons {
        flex-direction: column;
    }
}



.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialIcons img {
    width: 30px;
    border: 1px solid #22EFFC;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons img:hover {
    opacity: 0.6;
}




.mainButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mainButtons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #00000055;
    width: 100px;
    padding: 6px 60px;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.3s;
}

.mainButtons a p {
    color: #22EFFC;
}

.mainButtons a img {
    width: 15px;
}

.mainButtons a:hover {
    filter: hue-rotate(90deg);
    box-shadow: 4px 8px 12px #22EFFC;
}