.mainSection {
    width: 100%;
    max-width: 1300px;
    margin: 150px auto 0;
    padding: 20px;
}

.mainContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mainTitle,
.mainSubtitle {
    text-align: right;
    font-weight: 800;
    text-transform: uppercase;
}

.mainTitle {
    font-size: 48px;
    text-shadow: 0px 0px 8px #22EFFC;
}

.mainSubtitle {
    font-size: 36px;
    background: linear-gradient(to right, #22FCBB, #22EFFC 20%, #2293FC, #2252FC 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainTeaser {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    color: #22EFFC;
    text-shadow: -8px 10px 8px #09dbca91, 0 -2px 1px #ffffff, 0 2px 1px black;
    letter-spacing: 10px;
}

@media screen and (max-width: 800px) {
    .mainContainer {
        width: 100%;
    }

    .mainTitle {
        font-size: 34px;
        text-align: center;
    }

    .mainSubtitle {
        font-size: 28px;
        text-align: center;
    }

    .mainTeaser {
        font-size: 25px;
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .mainTitle {
        font-size: 24px;
    }

    .mainSubtitle {
        font-size: 18px;
    }

    .mainTeaser {
        font-size: 15px;
    }

    .mainButtons {
        flex-direction: column;
    }
}



.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialIcons img {
    width: 30px;
    border: 1px solid #22EFFC;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons img:hover {
    opacity: 0.6;
}




.mainButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mainButtons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #00000055;
    width: 100px;
    padding: 6px 60px;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.3s;
}

.mainButtons a p {
    color: #22EFFC;
}

.mainButtons a img {
    width: 15px;
}

.mainButtons a:hover {
    filter: hue-rotate(90deg);
    box-shadow: 4px 8px 12px #22EFFC;
}