.servicesSection {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* SERVICES LIST */
.cardServicesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardServices {
    position: relative;
    background: linear-gradient(to top right, #22EFFC22, #22EFFC00 75%);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 20px;
    border: 1px solid #22EFFC22;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 2px #00000033;
}


.cardServices:nth-of-type(2) {
    background: linear-gradient(to bottom left, #22EFFC22, #22EFFC00, #22EFFC22);
}

.cardServices:nth-of-type(3) {
    background: linear-gradient(to bottom right, #22EFFC22, #22EFFC00 40%);
}

.cardServices:nth-of-type(4) {
    background: linear-gradient(to top left, #22EFFC22, #22EFFC00 66%, #22EFFC22);
}

.cardServices::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #22EFFC15;
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0.3;
}

.cardServices:hover::before {
    opacity: 1;
    box-shadow: 0px 5px 15px 2px #00000055;
}


.serviceTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


.cardServices img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #22EFFC;
    border-radius: 3px;
}

.cardServices h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    color: #22EFFC;
}



.cardServices ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardServices li {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.cardServices span {
    color: #22EFFC;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardServices p {
    font-size: 14px;
}