.skillsSection {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* CARDS */
.cardSkills {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
    overflow: hidden;

    border-width: 1px;
    border-style: solid;
    border-top: #22EFFC55;
    border-image:
        linear-gradient(to right,
            transparent,
            #22EFFC55,
            transparent) 1 0%;
}

.cardSkills:last-child {
    border-bottom: none;
}

.cardSkills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at top, #22EFFC15, transparent 66%),
        radial-gradient(ellipse at bottom, #ffffff15, transparent 66%);
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0.3;
}

.cardSkills:hover::before {
    opacity: 1;
}



.cardSkills h3 {
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    color: #22EFFC;
    left: 10px;
    top: 10px;
}

.cardSkills ul {
    display: flex;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cardSkills li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.cardSkills .iconSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #22EFFC;
    font-size: 24px;
    padding: 8px;
    border: 1px solid #22EFFC;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.cardSkills .iconSkills img {
    width: 20px;
    height: 20px;
}

.cardSkills li:hover {
    cursor: pointer;
    background-color: #00000022;
    border: 1px solid #22EFFC55;
    border-radius: 3px;
    color: #22EFFC;
}